.selectedPage{
    font-weight: bold;
}
.page{
    margin: 10px;



}.paginator {
     display: flex;
    justify-content: center;


 }
.pageNumber {

    padding: 5px;
    border: 1px solid grey;

}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}