.container {
    display: flex;
    flex-direction: column;
}
.paginator{
    margin-bottom:30px;

}
.filterSearch {
    display: flex;
    justify-content: center;

}
.filterSearch button{
    width:40px;
 
}
