/*photoBlock*/
.photoBlock {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;

    padding: 20px 0;
    justify-content: center;
    border-radius: 5px;
}


.photoBlock button {
    margin-top: 10px;
    width: 80%;
}

.photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.photoBlock input[type='file'] { /* скрывает надпись файл не выбран*/
    display: none;
}

.privateProfile {
    color: darkgray;
    text-align: center;
    margin: 10px;
}

/*PhotoBlock ends*/

/*Profile edit  ends*/
.editInfo {
    display: block;
    position: relative;
}

.showFullInformation {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    position: relative;
}

.showFullInformation:hover {
    background-color: rgba(220, 225, 229, 0.55);
    cursor: pointer;
}


.descriptionLine {
    padding: 20px 0;
    border-bottom: 1px solid rgb(231, 232, 236);
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.contactItem {
    position: relative;
    cursor: pointer;
}

.contactItem:hover {
    transform: scale(1.05);
    transition: transform .1s linear;
}

.contactItem:hover:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(231, 232, 236);
    position: absolute;
    bottom: 5px;
    left: 0;
}

/*Profile edit  ends*/


/*animation*/
.editBlock {
    display: block;
    margin: 0 auto;
    -o-animation-duration: 10s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
}

.editBlock img {
    width: 40px;
    height: 40px;
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(720deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 480px) {
    .img {
        width: 60px;
    }
}

/*animation ends*/