.header {
    grid-area: h;
    background-color: #4A76A8;
    display: flex;
}

.logo img {
    width: 40px;

}.logo  {
     display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;

}

.loginBlock {

    position: relative;
    width:100%;


}

.loginBlock button {
    background-color: white;
    color: black;
    position: absolute;
    top: 50%;
    right:10px;
    transform: translateY(-50%);

}

.loginBlock a {

    margin-left: 10px;
}

.loginBlock:hover {
    color: rgba(23, 37, 80, 0.87);
    transition: .5s color;
}

.photo {
    position: absolute;

}