.nav {
    display: flex;
    flex-direction: column;
    width:200px;
}

.item {
    margin-top: 15px;
    display: block;

}

.item img {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    vertical-align: middle;


}

.item a {
    color: #99B1C6;
    font-size: 20px;
    display: block;
    text-decoration: none;
    padding: 2px 0;
}

/*.item a.activeLink {*/
/*    background-color: #c5d4e2;*/
/*    color: white;*/
/*}*/

.item a:hover {
    background-color: #DCE1E5;
    cursor: pointer;
    /*transition: width 1s, background-color 1s, height 4s; !* плаыный переход*!*/
}

