/*edit*/
.edit {
    background-color: #ffff;
 
    padding: 10px 20px;
    border-radius: 5px;
}
.fullName {
    font-weight: 600;
    font-size: 24px;

}

.status {
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid rgb(231, 232, 236);;

}


/*edit  ends*/

