.dialogs {
    display: grid;
    grid-template-columns: 3fr 7fr;

}
.dialogs img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.dialogsItems {
    padding: 25px;
}

.dialogsItems a {
    text-decoration: none;
    color: #4682B4;
    transition: width 2s, background-color 1s, height 4s; /* плаыный переход*/
    margin: 20px 0;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;



}

.dialogsItems a:hover {
    color: white;
    background-color: #4682B4;


}


.dialogsItems .active {
    color: black;

}


.messages {
    padding: 20px;

}

.message {
    padding:8px;
    margin:20px 0;
    font-size: 18px;
}
.message:nth-child(odd){
    background-color: #EDEEF0;

}
